<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Controllo Robot</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <h1>Controlla il tuo Robot</h1>
    <div id="controls">
        <button id="forwardBtn" onmousedown="startMoving('forward')" onmouseup="stopMoving()" ontouchstart="startMoving('forward')" ontouchend="stopMoving()">Avanti</button>
        <button id="leftBtn" onmousedown="startMoving('left')" onmouseup="stopMoving()" ontouchstart="startMoving('left')" ontouchend="stopMoving()">Sinistra</button>
        <button id="stopBtn" onclick="stopMoving()" ontouchend="stopMoving()">Stop</button>
        <button id="rightBtn" onmousedown="startMoving('right')" onmouseup="stopMoving()" ontouchstart="startMoving('right')" ontouchend="stopMoving()">Destra</button>
        <button id="backwardBtn" onmousedown="startMoving('backward')" onmouseup="stopMoving()" ontouchstart="startMoving('backward')" ontouchend="stopMoving()">Indietro</button>
</div>
    <script src="/static/js/control.js"></script>
</body>
</html>
